tr {
    text-align: center;
}

h1 {
    color:darkred;
}

a {
    text-decoration: none;
}

a:link {
    color: blue;
}

a:visited {
    color: blue;
}

a:hover {
    text-decoration: underline;
    background-color: purple;
}

a:active {
    text-decoration: none;
}
