#header {
    color: darkslategray;
    font-family: monospace;
    background-color: beige;
}

#footer {
    color: darkblue;
    font-family:cursive;
    background-color: beige;
}

a {
    color: blue;
}