<link href='https://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>

 @font-face {
            font-family: 'PT Mono';
            src: url("https://fonts.googleapis.com/css?family=PT+Mono");
}

#header {
    color: darkslategray;
    font-family:"PT Mono";
}

#footer {
    color: darkblue;
    font-family:cursive;
}

.page-header {
    color: darkcyan;
}

#navigation {
    text-align: center;
}

a {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    font-weight: bold;
}

a:active {
    text-decoration: none;
}