tr {
    text-align: center;
}

th {
    background-color: lightgrey;
}

h1 {
    color:darkred;
}

a:link {
    color: Blue;
}

a:visited {
    color: Puple;
}

a:hover {
    text-decoration: none;
    color: blue; 
    font-family: cursive;
}